:root {
    --orange: #ff5d20;
    --bg: #FFCA98;
    --shadow: 0 2px 2px rgb(0 0 0 0.5);
  }
  .info {
    background-color: var(--bg);
    color: white;
    padding-top: 4rem;
    padding-bottom: 8rem;
    text-align: center;
  }
  .container {
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
  }

  .card-carousel {
    padding-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
  }

  .card-carousel .card {
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    /* height: 400px; */
    overflow: hidden;
  }

  .card-carousel .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .card-carousel .card-img-top {
    margin: auto;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .card-carousel .card-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .card-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .card-carousel .owl-nav button.owl-prev {
    left: 0;
    margin-left: 20px;
  }

  .card-carousel .owl-nav button.owl-next {
    right: 0;
    margin-right: 20px;
  }

  .card-carousel .owl-nav button {
    background: transparent;
    border: none;
    color: #777;
    font-size: 24px;
    padding: 0;
    transition: all 0.3s ease-in-out;
  }

  .card-carousel .owl-nav button:hover {
    color: #333;
  }

  .card-body .ratings {
      margin-top: 12px;
    }
  .card-body .ratings i {
      font-size: 17px;
      color: goldenrod;
      cursor: pointer;
    }
  .card-body .profile {
    display: flex;
    align-items: center;
    margin-top: 25px;
  } 
  /* .profile{
    align-items: center;
  } */
  .profile .profile-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    /* text-align: center; */
    margin-right: 15px;
  }
  .profile .profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #ff5d20;
    object-fit: cover;
    /* align-items: center; */
  }
  .profile .profile-desc {
    /* display: flex; */
    flex-direction: column;
  }
  /* .profile-desc span{
    margin-bottom: 5px;
  } */
  .profile-desc span:nth-child(1){
    font-size: 12px;
    /* font-weight: bold; */
    color: var(--primary-clr);
  }
  .profile-desc span:nth-child(2){
    font-size: 12px;
    color: var(--text-clr);
  }
  
  @media (max-width: 992px) {
    .card-carousel .owl-nav {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .card-carousel .card {
      flex: relative;
      width: auto;
      height: auto;
    }
    .card-carousel .card-text {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .card-carousel .card {
      flex: relative;
      width: auto;
      height: auto;
    }
    .card-carousel .card-text {
      font-size: 12px;
    }
  }

  .formulir {
    width: 100%;
    background-color: white;
    color: black;
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  .container-form {
    display: flex;
    /* max-width: 600px; */
    margin: 15px 20px 15px 20px;
    padding: 20px;
  }
  h2{
    margin-bottom: 15px;
    padding: 10px;
  }
  h3{
    margin: 10px;
    padding: 2px;
    color: #000;
    text-align: center;
  }
  .split-right {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-left: 20px;
  }
  .image-container .gambar {
    max-width: 100%;
    max-height: 100%;
  }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .form-group label {
    /* display: block; */
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .form-group input[type="text"],
  .form-group textarea,
  .form-group select {
    flex: 2;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  /* .text-center {
    text-align: center;
  } */
  button {
    padding: 10px 20px;
    background-color: #ff5d20;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* text-align: center; */
  }
  button:hover {
    background-color:#FDA60F;
  }