.namapaket {
    width: 200px;
    height: 50px;
    margin: 40px;
    background: linear-gradient(277deg, #ed7d31 -17.34%, #743800 211.92%);
    border-radius: 30px;
    font-weight: 600;
    font-size: 19px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-col-6 {
    flex: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.container-1 {
    display: flex;
    justify-content: center;
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paket {
    width: 400px;
    height: 210px;
    margin-top: 20px;
    border-radius: 30px;
    background-size: 100%;
}

.container-3 {
    width: auto;
}

.dafarMenu {
    margin: 40px;
    background-color: #ffca98ff;
    margin-bottom: 70px;
}

.judulmenu {
    align-items: center;
    padding: 30px 0px;
    font-size: 30px;
    font-weight: bold;
    color: #743800;
}

.kotakmenu {
    padding: 20px 45px;
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
    text-transform: none;
    color: #743800;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.card-menu {
    border-radius: 30px;
    margin-bottom: 35px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #4F4A45;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
}

.card-description {
    font-size: 14px;
    color: #6C5F5B;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    color: #ff5d20ff;
    margin-top: 10px;
    width: 120px;
    background-color: rgb(255, 197, 176);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.img-card {
    width: 100%;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    object-position: center;
    margin-bottom: 10px;
}

.div-price {
    margin-top: 34px;
}

.col-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}